<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">API</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>API</h1>
    <h2>Rick and Morty</h2>
    <img src="https://i.pinimg.com/originals/94/ae/fc/94aefc0b4cc029fb9ae73faa95c906d2.png" alt="">
    <ion-button class="text-white" color="success"  shape="round" routerLink="/userslist">Personajes</ion-button>
  </div>
</ion-content>